[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OdysseusCharacterizationModule"]
	path = OdysseusCharacterizationModule
	url = https://github.com/cran/OdysseusCharacterizationModule
[submodule "OdysseusPathwayModule"]
	path = OdysseusPathwayModule
	url = https://github.com/cran/OdysseusPathwayModule
[submodule "OdysseusSurvivalModule"]
	path = OdysseusSurvivalModule
	url = https://github.com/cran/OdysseusSurvivalModule
[submodule "tidyOhdsiSolutions"]
	path = tidyOhdsiSolutions
	url = https://github.com/cran/tidyOhdsiSolutions
